.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 83.125rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 900;
  opacity: 0.5;
  user-select: none;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;

  & span {
    flex: 1;
  }
}

@media (max-width: 78rem) {
  .timer {
    font-size: 8rem;
  }
}

@media (max-width: 60rem) {
  .timer {
    font-size: 6.5rem;
  }
}

@media (max-width: 48rem) {
  .timer {
    font-size: 5.5rem;
  }
}

@media (max-width: 40rem) {
  .timer {
    font-size: 4.5rem;
  }
}

@media (max-width: 32rem) {
  .timer {
    font-size: 3.5rem;
  }
}

@media (max-width: 28rem) {
  .timer {
    font-size: 3rem;
  }
}
