.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 2.125rem;
  gap: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 700;

  &.light {
    color: var(--gray-800);
    background-color: var(--gray-100);
  }

  &.lightOutlineDark {
    color: var(--gray-800);
    background-color: var(--gray-100);
    border-radius: 0.3125rem;
    border: 1px solid var(--gray-800);
  }

  &.lightOutlineRed {
    color: var(--red-600);
    background-color: var(--gray-100);
    border-radius: 0.3125rem;
    border: 1px solid var(--red-600);
  }

  &.dark {
    color: var(--gray-100);
    border-radius: 0.3125rem;
    background-color: var(--gray-800);
  }

  &.red {
    color: var(--gray-100);
    background-color: var(--red-600);
  }

  & svg {
    font-size: 1.5rem;
    transition: 0.3s;
  }

  &:hover svg {
    transform: translateX(0.3rem);
  }
}
