.container {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/Hero.svg') center no-repeat;
  background-size: cover;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 60.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;

  & strong,
  h1 {
    font-family: Montserrat;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.5rem;
    letter-spacing: 0;
    text-align: center;
  }

  & h1 {
    color: var(--red-600);
  }

  & p {
    text-align: center;
    font-size: 1.5rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;

  & a:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;

    & span {
      display: flex;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: 1.75rem;
    }
  }
}

@media (max-width: 64rem) {
  .container {
    gap: 3rem;
    padding-top: 6rem;
  }
  .content {
    max-width: none;
    gap: 2rem;

    & strong,
    h1 {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    & p {
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}

@media (max-width: 54rem) {
  .content {
    & strong,
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }

    & p {
      font-size: 1.2rem;
    }
  }
}
