.container {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  grid-template-rows: 1.75rem;
  grid-template-areas:
    'img name'
    'img cod';
  column-gap: 0.63rem;

  & img {
    grid-area: img;
  }

  & h3 {
    grid-area: name;
    color: var(--gray-200);
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.5rem;
  }

  & p {
    grid-area: cod;
    color: var(--gray-200);
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.5;

    & span {
      font-weight: 700;
    }
  }
}
