.container {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 41.875rem;
  place-items: center;
  gap: 4.38rem;
  margin-bottom: 14.56rem;
}

.containerImages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.88rem;
}

.row {
  display: flex;
  gap: 1.88rem;
}

.contentImage {
  z-index: 1;
  position: relative;

  & img {
    transition: 0.3s;
  }

  &::before {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    right: -0.1rem;
    bottom: -0.5rem;
    border-radius: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.content1 {
  &::before {
    background: linear-gradient(
      -45deg,
      #ce0521 60%,
      #242424 100%,
      #c23d3d 100%
    );
    animation: rotation 2.5s infinite linear alternate;
  }
}

.content2 {
  margin-top: -3.19rem;

  &::before {
    background: linear-gradient(105deg, #ff00c3 10%, #00f2ff 100%, #a400c3 30%);
    animation: rotation 4s infinite linear alternate;
  }
}

.content3 {
  transform: translateY(1.31rem);

  &::before {
    background: linear-gradient(105deg, #196a9a 75%, #c23d3d 100%);
    bottom: -1.5rem;
    animation: rotation 3.5s infinite linear alternate;
  }
}

.content4 {
  &::before {
    background: linear-gradient(135deg, #ededa4 60%, #008080 90%, #ededa4 30%);
    animation: rotation 2.5s infinite linear alternate;
  }
}

.content {
  & p {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: var(--raleway);
    line-height: 1.5rem;
    opacity: 0.7;
  }
}

@media (max-width: 68.75rem) {
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    max-width: 41.875rem;
  }
}

@media (max-width: 49.375rem) {
  .containerImages {
    width: 100%;
  }
  .row {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content1 {
    transform: translateX(-1rem);
  }

  .content2 {
    transform: translateX(0);
    margin-top: 0;

    &::before {
      transform: translate(-3rem);
    }
  }

  .content3 {
    transform: translateX(0);
  }

  .content4 {
    transform: translateX(1rem);
  }
}

@media (max-width: 35rem) {
  .row {
    flex-direction: column;
    align-items: flex-end;
  }
  .content2,
  .content4 {
    align-self: flex-start;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) translateX(-0.5rem) rotate(0deg) scale(1);
    filter: blur(1rem);
  }
  100% {
    transform: rotate(360deg) translateX(0.5rem) rotate(-360deg) scale(1.01);
    filter: blur(1.5rem);
  }
}
