.container {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 41.875rem;
  place-items: center;
  gap: 4.38rem;
  margin-bottom: 14.56rem;
}

.containerImages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.88rem;
}

.row {
  display: flex;
  gap: 1.88rem;
}

.contentImage {
  z-index: 1;
  position: relative;

  & img {
    object-fit: contain;
  }

  &::before {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(0.5rem);
  }
}

.content1 {
  &::before {
    background: url('/images/singers/blur-1.png');
    animation: rotation 2.5s infinite linear alternate;
  }
}

.content2 {
  margin-top: -3.19rem;

  &::before {
    background: url('/images/singers/blur-2.png');
    animation: rotation 4s infinite linear alternate;
  }
}

.content3 {
  transform: translateY(1.31rem);

  &::before {
    background: url('/images/singers/blur-3.png');
    animation: rotation 3.5s infinite linear alternate;
  }
}

.content4 {
  &::before {
    background: url('/images/singers/blur-4.png');
    animation: rotation 2.5s infinite linear alternate;
  }
}

.content {
  & p {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: Raleway;
    line-height: 1.5rem;
    opacity: 0.7;
  }
}

@media (max-width: 68.75rem) {
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    max-width: 41.875rem;
  }
}

@media (max-width: 49.375rem) {
  .containerImages {
    width: 100%;
  }
  .row {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;

    &:last-child {
      flex-direction: column;
    }
  }

  .content1 {
    transform: translateX(-1rem);
  }

  .content2 {
    transform: translateX(0);
    margin-top: 0;

    &::before {
      transform: translate(-3rem);
    }
  }

  .content3 {
    transform: translateX(0);
  }

  .content4 {
    transform: translateX(1rem);
  }
}

@media (max-width: 30rem) {
  .content1 {
    transform: translateX(0);
    &::before {
      transform: translate(1rem);
    }
  }

  .content2 {
    &::before {
      transform: translate(-1rem);
    }
  }

  .content3 {
    &::before {
      transform: translate(1rem);
    }
  }

  .content4 {
    transform: translateX(0);

    &::before {
      transform: translate(-1rem);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) translateX(0.75rem) rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) translateX(-0.75rem) rotate(-360deg) scale(1.02);
  }
}
