.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10rem;
  margin-bottom: 6rem;
  background: linear-gradient(
    180deg,
    rgba(56, 29, 219, 0.05) 0%,
    rgba(56, 29, 219, 0) 100%
  );
}

.listDays {
  display: flex;
  gap: 1.88rem;
  max-width: 73.125rem;
  width: 100%;
  margin-top: 3.75rem;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 5.125rem;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 0.25rem;
    background-color: var(--gray-800);
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    transition: 0.3s;
  }

  & strong {
    color: var(--gray-100);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.375rem;
    opacity: 0.5;
    transition: 0.3s;
  }

  & span {
    color: var(--gray-800);
    font-weight: 700;
    opacity: 0.2;
    transition: 0.3s;
  }

  &.active {
    & strong {
      color: var(--gray-800);
      opacity: initial;
    }

    & span {
      opacity: initial;
    }

    &::before {
      content: '';
      opacity: initial;
    }
  }
}

.containerEventSchedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  border: 1px solid var(--gray-200);
  margin-top: 2.5rem;
  overflow-x: auto;

  & tr:first-child {
    padding: 2.56rem;
    display: grid;
    grid-template-columns: 14.375rem 23.125rem 16.875rem 1fr;
    gap: 1.87rem;
    background-color: rgba(34, 34, 34, 0.05);

    & th {
      flex: 1;
      color: var(--gray-200);
      font-size: 1.5rem;
      font-family: Raleway;
      font-weight: 700;
      line-height: 2.375rem;
      text-align: start;
    }
  }
}

.infoShows {
  width: 73rem;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 14.375rem 23.125rem 16.875rem 1fr;
  gap: 1.87rem;
  border-bottom: 1px solid var(--gray-200);
  color: var(--gray-500);

  &:last-child {
    border: 0;
  }

  & .time {
    color: var(--gray-200);
    font-family: Raleway;
    line-height: 1.5rem;
  }

  & .description {
    color: var(--gray-200);
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.5rem;
  }

  & td > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .status {
    white-space: nowrap;
    text-align: end;
    align-self: center;
    cursor: pointer;
  }
}

@media (max-width: 78rem) {
  .containerEventSchedule {
    & tr:first-child {
      grid-template-columns: 14.375rem 23.125rem 16.875rem 6rem;
      gap: 1.2rem;
    }
  }

  .infoShows {
    width: 100%;
    grid-template-columns: 10rem 23.125rem 15rem 6rem;
    gap: 1.2rem;
  }
}

@media (max-width: 65.1875rem) {
  .containerEventSchedule {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
