.container {
  display: flex;
  margin-top: 8.25rem;
  margin-bottom: 9.32rem;
  align-items: center;
  justify-content: center;
  gap: 4.38rem;
}

.containerImages {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  transform: translate(1.5rem, 1.5rem);

  & img {
    object-fit: contain;
    grid-area: 1/1;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;

    &:first-child {
      transform: translate(2.19rem, 2.19rem);
    }

    &:last-child {
      transform: translate(-2.19rem, -2.19rem);
    }
  }
}

.content {
  max-width: 35.625;
  width: 100%;

  & p {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    font-family: var(--raleway);
    line-height: 1.5rem;
    opacity: 0.7;
  }
}

@media (max-width: 68.75rem) {
  .container {
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
  .containerImages {
    max-width: calc(100% - 4.18rem);
    margin-right: 2.8rem;
    place-items: center;
  }

  .content {
    max-width: 41.875rem;
  }
}

@media (max-width: 30rem) {
  .container {
    margin-bottom: 0rem;
    margin-top: 5rem;
  }

  .containerImages {
    margin-top: -3rem;
  }
}
