.container {
  display: flex;
  margin-top: 8.25rem;
  margin-bottom: 9.32rem;
  align-items: center;
  justify-content: center;
  gap: 8.36rem;
}

.containerImages {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  & .contentImage1,
  & .contentImage2 {
    grid-area: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    border-radius: 1.5rem;

    &.imageBlur {
      z-index: 0;
      opacity: 30%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }

  & .contentImage1 {
    top: 4.38rem;
    left: 4.38rem;
  }

  & .contentImage2 {
    top: 0;
    left: 0;
  }
  & img {
    object-fit: contain;
    transition: 0.5s;
    height: fit-content;
  }
}

.content {
  max-width: 35.625;
  width: 100%;

  & p {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    font-family: var(--raleway);
    line-height: 1.5rem;
    opacity: 0.7;
  }
}

@media (max-width: 68.75rem) {
  .container {
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
  .containerImages {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 4.38rem;
    place-items: center;
  }

  .content {
    max-width: 41.875rem;
  }
}

@media (max-width: 30rem) {
  .container {
    margin-bottom: 0rem;
    margin-top: 5rem;
  }
}
