.container {
  display: flex;
  justify-content: center;
  margin-top: 8.25rem;
  margin-bottom: 11.94rem;
  align-items: center;
  column-gap: 4.38rem;
  row-gap: 3rem;
}

.image {
  max-width: 33.125;
  width: 100%;
  display: flex;
  align-items: center;

  & img {
    object-fit: contain;
    margin-left: -0.5rem;
  }
}

.content {
  max-width: 35.625;
  width: 100%;

  & p {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    font-family: Raleway;
    line-height: 1.5rem;
    opacity: 0.7;
  }
}

@media (max-width: 60rem) {
  .container {
    margin-top: 4rem;
    flex-direction: column;
  }
  .image {
    justify-content: center;
  }
}

@media (max-width: 30rem) {
  .container {
    margin: 0;
    gap: 2rem;
  }

  .content {
    margin-top: -5rem;
  }
}
