.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mobileButton {
  z-index: 1;
  color: var(--gray-800);
  background-color: var(--gray-100);
  border-radius: 0.2rem;
  height: 3.4375rem;
  width: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--gray-100);
  cursor: pointer;
  transition: 0.1s;

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
    transition: 0.2s;
  }

  &:focus,
  &:hover {
    background-color: var(--white);
    color: var(--red-600);
  }
}

.mobileButtonActive {
  &::after {
    transform: rotate(-90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  & a {
    text-transform: uppercase;
  }

  & a:last-child {
    margin-left: 0.625rem;
  }
}

.active {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10rem 0;
  gap: 4rem;
  flex-direction: column;
  background-color: var(--gray-800);
  transition: 0.4s;

  & .link {
    font-size: 1.5rem;
  }

  & a:last-child {
    margin-left: 0;
  }
}

.link {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}
