.carousel {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1.88rem;
  width: 100%;
  overflow: hidden;
  margin-top: 3.81rem;
}

.sideReport {
  cursor: pointer;
  transform: translateY(0.63rem);
  opacity: 0.5;
  user-select: none;
}

@media (max-width: 57.5rem) {
  .carousel {
    gap: 1rem;
  }
}

@media (max-width: 48rem) {
  .sideReport {
    transform: translateY(2rem);
  }
}
